
@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
<form method="post">
  <div class="form-group">
     <label asp-for="CategoryName" ></label>
     <input asp-for="CategoryName"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Name">
     <span class="text-danger" asp-validation-for="CategoryName"></span>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
 <a class="btn btn-dark" asp-action="Index">Go Back</a>
</form>
</div>

