@model Product
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
 <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="~/img/@Model.ImgUrl" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">In stock <strong>@Model.Count</strong></p>
    <p class="card-text">$@Model.Price</p>
    <p class="card-text">Name of Category <strong>@Model.Category.Name</strong></p>
  </div>

  <a class="btn btn-cyan" asp-action="index">Go To Back</a>
</div>
</div>

